/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS RESET */

/* Start CSS */

body {
	/* height: 100vh; */
	background: linear-gradient(100deg, rgba(43,59,74,1) 0%, rgba(41,41,41,1) 100%);
}

/* .nav-container {
	width: 100%;
	height: 80px;
}
.nav-logo-container {
	display: inline-block;
	width: 49%;
}
.nav-logo {
	display: inline-block;
}

.nav-logo img {
	width: 50px;
	height: 50px;
}

.nav-logo-text {
	text-decoration: none;
	vertical-align: 50%;
	color: white;
	font-family: 'Noto Sans';
	font-size: 1.5em;
}

.nav {
	display: inline-block;
	width: 49%;
	vertical-align: 50%;
}

.nav-list {
	float: right;
}

.nav-list-item {
	display: inline-block;
	margin: 0 14px;
	font-family: 'Noto Sans';
}

.nav-list-item a {
	text-decoration: none;
	color: white;
}


.shopping-cart-logo {
	width: 30px;
	height: 30px;
} */

/* Side NAV */

/* Main Section */

.container-1 {
	background: url(./images/image.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

/* NAVBAR */
.nav-bar {
	flex: 1 100%;
	order: 1;
}

.nav-list {
	list-style: none;
	background: rgba(33, 44, 55, 0.728);
	display: flex;
	justify-content: flex-end;
}

.nav-list a {
	text-decoration: none;
  	display: block;
	padding: 1em;
	font-family: 'Noto Sans';
  	color: white;
}

/* SHOE DETAILS */
.shoe-detail-section {
	flex: 2;
	order: 1;
	height: 90vh;
	display: flex; 
	align-items: center;
}

.detail-items {
	font-family: 'Noto Sans';
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.7721463585434174) 74%, rgba(255,255,255,0) 100%);
	border-radius: 10px;
	width: 100%;
	padding: 10% 0 10% 20%;
	/* display: flex; */
}

.detail-items h1 {
	font-size: 1.5em;
	color: darkgray;
	text-transform: uppercase;
	
}

.detail-items h2 {
	font-size: 3em;
	font-style: bold;
	color: white;
	text-transform: uppercase;
	padding: 10px 0 10px 0;
}

.detail-items p {
	width: 60%;
	font-size: 1.2em;
	color: darkgray;
}

.detail-items button {
	background: rgb(9, 154, 244);
	margin: 20px 0 0px 0;
	padding: 10px;
	border-radius: 8px;
	border: none;
	color: white;
}

.detail-img {
	display: flex;
	justify-content: flex-end;
}

.shoe-img {
	width: 30%;
	height: 30%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* SHOE IMG SECTION */
.shoe-price-section {
	flex: 1;
	order: 2;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shoe-price-section div {
	/* border: 1px solid red; */
	font-family: 'Noto Sans';
	color: white;
	border-radius: 10px;
	/* height: 500px;
	width: 500px; */
	/* width: 100%;
	padding: 10% 0 10% 5%; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.shoe-price-section img {
	width: 100%;
	height: 100%;
	margin-right: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* SHOE SPECS */

.shoe-specifications {
	flex: 1 100%;
	order: 4;
	height: 50%;
}

.spec-items {
	background: rgba(33, 44, 55, 0.728);
	display: flex;
	justify-content: flex-end;
}

.spec-item {
	font-family: 'Noto Sans';
	color: white;
	padding: 1em;
}

/* .container-2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
} */

