$background : rgba(33, 44, 55, 0.728);

@mixin border-radius($radius: 5px) {
    border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

body {
    height: 100vh;
}
.container-1 {
    display: flex;
    flex-flow: row wrap;
    background: url(./images/image.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.nav-bar {
    // border: 5px red solid;
    display: flex; 
    justify-content: flex-end;
    flex: 1 100%;
    height: 100px;
    align-items: center;

    .logo {
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    a {
        padding: 1em;
    }

}

.shoe-detail-section {
    border: 5px green solid;
    height: 800px;
    display: flex;
    flex: 1;
    order: 1;
    align-items: center;

    .detail-items {
        background: $background;
        @include border-radius;
        padding: 8% 5% 8% 5%;
        color: white;

        button {
            padding: 0;
            color: white;
        }
    }
    
}

.shoe-price-section {
    border: 5px orange solid;
    display: flex;
    flex: 1;
    order: 2;
    align-items: center;
    color: white;
    
}

.shoe-specifications {
    // border: 5px blue solid;
    display: flex;
    flex: 1 100%;
    order: 4;
    justify-content: flex-end;
    color: white;
    height: 150px;

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        width: 50%;
        background: $background;
        @include border-radius(5px);
    }

    li {
        display: flex;
        flex: 1;
        justify-content: center;
    }
}